
<p><%= @answer%></p>

<p><iframe src= <%= @link %> width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p></p>
<p><%= link_to "Let's talk first", question_path %></p>